################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RustPlugins/.vs
/RustPlugins/Hotel/obj
/RustPlugins/Hotel/ZoneManager.cs
/RustPlugins/Backpacks
*.sln
/.vs
/RustPlugins/Hotel/Hotel.csproj
/Hotel/obj
/Hotel/ZoneManager.cs
*.csproj
/Backpacks
*.user
